# Environment
.env
.env.*
!.env.example

# Airflow
logs/
airflow.cfg
airflow.db
airflow-webserver.pid
standalone_admin_password.txt
unittests.cfg

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db